header{
    background-color: rgb(0, 0, 0);
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
text-transform: uppercase;
color: aliceblue;
font-weight: bold;
font-size: 22px;
text-decoration: none;
}
#logo {
}
img {
    top: 285PX;
    width: 300px;
    height: 300PX;
}
.caixa {
    position: relative;
    width: 940;
    margin: 0;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
        



